@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
 *, *:before, *:after {
	 box-sizing: border-box;
}
 body {
	 background: #43423e;
}
 a {
	 text-decoration: none;
	 color: #5c7fb8;
}
 a:hover {
	 text-decoration: underline;
}
 .movie-card {
	 font: 14px/22px "Lato", Arial, sans-serif;
	 color: #a9a8a3;
	 padding: 40px 0;
}
 .container {
	 margin: 0 auto;
	 width: 780px;
	 height: 640px;
	 background: #f0f0ed;
	 border-radius: 5px;
	 position: relative;
}
 .hero {
	 height: 342px;
	 margin: 0;
	 position: relative;
	 overflow: hidden;
	 z-index: 1;
	 border-top-left-radius: 5px;
	 border-top-right-radius: 5px;
}
 .hero:before {
	 content: '';
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 overflow: hidden;
	 top: 0;
	 left: 0;
	 background: #482880;
	 /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_bg.jpg"); */
	 z-index: -1;
	 transform: skewY(-2.2deg);
	 transform-origin: 0 0;
	 -webkit-backface-visibility: hidden;
}
 .cover {
	 position: absolute;
	 top: 160px;
	 left: 40px;
	 z-index: 2;
}
 .details {
	 padding: 190px 0 0 280px;
}
 .details .title1 {
	 color: white;
	 font-size: 44px;
	 margin-bottom: 13px;
	 position: relative;
}
 .details .title1 span {
	 position: absolute;
	 top: 3px;
	 margin-left: 12px;
	 background: #c4af3d;
	 border-radius: 5px;
	 color: #544c21;
	 font-size: 14px;
	 padding: 0px 4px;
}
 .details .title2 {
	 color: #c7c1ba;
	 font-size: 23px;
	 font-weight: 300;
	 margin-bottom: 15px;
}
 .details .likes {
	 margin-left: 24px;
}
 .details .likes:before {
	 content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
	 position: relative;
	 top: 2px;
	 padding-right: 7px;
}
 .description {
	 bottom: 0px;
	 height: 200px;
	 font-size: 16px;
	 line-height: 26px;
	 color: #b1b0ac;
}
 .column1 {
	 padding-left: 50px;
	 padding-top: 120px;
	 width: 220px;
	 float: left;
	 text-align: center;
}
 .tag {
	 background: white;
	 border-radius: 10px;
	 padding: 3px 8px;
	 font-size: 14px;
	 margin-right: 4px;
	 line-height: 35px;
	 cursor: pointer;
}
 .tag:hover {
	 background: #ddd;
}
 .column2 {
	 padding-left: 41px;
	 padding-top: 30px;
	 margin-left: 20px;
	 width: 480px;
	 float: left;
}
 .avatars {
	 margin-top: 23px;
}
 .avatars img {
	 cursor: pointer;
}
 .avatars img:hover {
	 opacity: 0.6;
}
 .avatars a:hover {
	 text-decoration: none;
}
 fieldset, label {
	 margin: 0;
	 padding: 0;
}
/****** Style Star Rating Widget *****/
 .rating {
	 border: none;
	 float: left;
}
 .rating > input {
	 display: none;
}
 .rating > label:before {
	 margin: 5px;
	 margin-top: 0;
	 font-size: 1em;
	 font-family: FontAwesome;
	 display: inline-block;
	 content: "\f005";
}
 .rating > .half:before {
	 content: "\f089";
	 position: absolute;
}
 .rating > label {
	 color: #ddd;
	 float: right;
}
/***** CSS Magic to Highlight Stars on Hover *****/
 .rating > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
	/* show gold star when clicked */
	/* hover current star */
	 color: #ffd700;
}
/* hover previous stars in list */
 .rating > input:checked + label:hover, .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, .rating > input:checked ~ label:hover ~ label {
	/* hover current star when changing rating */
	/* lighten current selection */
	 color: #ffed85;
}
 a[data-tooltip] {
	 position: relative;
}
 a[data-tooltip]::before, a[data-tooltip]::after {
	 position: absolute;
	 display: none;
	 opacity: 0.85;
}
 a[data-tooltip]::before {
	/* * using data-tooltip instead of title so we * don't have the real tooltip overlapping */
	 content: attr(data-tooltip);
	 background: #000;
	 color: #fff;
	 font-size: 13px;
	 padding: 5px;
	 border-radius: 5px;
	/* we don't want the text to wrap */
	 white-space: nowrap;
	 text-decoration: none;
}
 a[data-tooltip]::after {
	 width: 0;
	 height: 0;
	 border: 6px solid transparent;
	 content: '';
}
 a[data-tooltip]:hover::before, a[data-tooltip]:hover::after {
	 display: block;
}
/** positioning **/
/* top tooltip */
 a[data-tooltip][data-placement="top"]::before {
	 bottom: 100%;
	 left: 0;
	 margin-bottom: 40px;
}
 a[data-tooltip][data-placement="top"]::after {
	 border-top-color: #000;
	 border-bottom: none;
	 bottom: 50px;
	 left: 20px;
	 margin-bottom: 4px;
}
 
a img{
    width:220px;
    height:300px;
}

/* search bar */

.search {
    --background: #fff;
    --text-color: #414856;
    --primary-color: #4f29f0;
    --border-radius: 10px;
    --width: 190px;
    --height: 55px;
    background: var(--background);
    width: auto;
    height: var(--height);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(65, 72, 86, .05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input[type="text"] {
    position: relative;
    width: var(--height);
    height: var(--height);
    font: 400 16px 'Varela Round', sans-serif;
    color: var(--text-color);
    border: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0 0 0 40px;
    transition: width 0.6s ease;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}
.search input[type="text"]:focus {
    z-index: 0;
    opacity: 1;
    width: var(--width);
}
.search input[type="text"]:focus ~ .symbol::before {
    width: 0%;
}
.search input[type="text"]:focus ~ .symbol:after {
    clip-path: inset(0% 0% 0% 100%);
    transition: clip-path 0.04s linear 0.105s;
}
.search input[type="text"]:focus ~ .symbol .cloud {
    top: -30px;
    left: -30px;
    transform: translate(0, 0);
    transition: all 0.6s ease;
}
.search input[type="text"]:focus ~ .symbol .lens {
    top: 20px;
    left: 15px;
    transform: translate(0, 0);
    fill: var(--primary-color);
    transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
}
.search .symbol {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .symbol:before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    transition: width 0.6s ease;
}
.search .symbol:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 21px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    z-index: 1;
    clip-path: inset(0% 0% 0% 0%);
    transition: clip-path 0.04s linear 0.225s;
}
.search .symbol .cloud, .search .symbol .lens {
    position: absolute;
    fill: #fff;
    stroke: none;
    top: 50%;
    left: 50%;
}
.search .symbol .cloud {
    width: 35px;
    height: 32px;
    transform: translate(-50%, -60%);
    transition: all 0.6s ease;
}
.search .symbol .lens {
    fill: #fff;
    width: 16px;
    height: 16px;
    z-index: 2;
    top: 24px;
    left: 24px;
    transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
}
.searchBar {
    background: #e8ebf3;
    height: 15vh;
    font: 400 16px 'Varela Round', sans-serif;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.searchBar .socials {
    position: fixed;
    display: block;
    left: 20px;
    bottom: 20px;
}
.searchBar .socials > a {
    display: block;
    width: 30px;
    opacity: var(--opacity, 0.2);
    transform: scale(var(--scale, 0.8));
    transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
.searchBar .socials > a:hover {
    --scale: 1;
}
